/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


:root {
	--ion-color-new: #162c8e;
	--ion-color-new-rgb: 17,170,25;
	--ion-color-new-contrast: #000000;
	--ion-color-new-contrast-rgb: 0,0,0;
	--ion-color-new-shade: #211766;
	--ion-color-new-tint: #2b29b3;
}

.ion-color-new {
	--ion-color-base: var(--ion-color-new);
	--ion-color-base-rgb: var(--ion-color-new-rgb);
	--ion-color-contrast: var(--ion-color-new-contrast);
	--ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
	--ion-color-shade: var(--ion-color-new-shade);
	--ion-color-tint: var(--ion-color-new-tint);
}